<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPBLOG</title>
</head>
<body>
    <h1>Posts</h1>
    <ul>
        <% for (let i = 0; i < posts.length; i++) {%>
            <li>
                <a href="/posts/<%= i %>"><%= posts[i].title %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>