<%- include('../header', {}) %>
<h1>Add New</h1>
<form method="POST" action="/posts/create">
    <input type="text" name="title">
    <input type="text" name="body">
    <input type="submit" value="Add!">
</form>

<p><a href="/">Go Back</a></p>
<% include('../footer', {}) %>